.jumbotron{
    background-color: rgb(172, 172, 248);
    color: white;
}
.footer{
    background-color: rgb(172, 172, 248);
}
.fa{
    margin-right: 8px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}